# Binaries
*.exe
*.o
*.a

# Test binaries and results
*_test
*_test.exe
testdata

# Dependencies (Go modules)
/vendor/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS-specific files
._*
*.DS_Store

# Temporary files
*~
*.tmp

# Coverage files
*.out

# Go build artifacts
/build/